# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environments
venv/
venv_linux/

# IDEs
.idea/
.vscode/

# Model Weights
models/weights/*.ckpt
!models/weights/.gitkeep

# Datasets
lfw/
uploads/

# Milvus
*.db

# Cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Env
.env